<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%= params[:team_name] %></h1>
 <h4>Coach: <%= params[:coach_name] %> </h4>
 <h4>Point Guard: <%= params[:point_guard_name] %> </h4>
 <h4>Shooting Guard: <%= params[:shooting_guard_name] %> </h4>
 <h4>Small Forward: <%= params[:small_forward_name] %> </h4>
 <h4>Power Forward: <%= params[:power_forward_name] %> </h4>
 <h4>Center: <%= params[:center_name] %> </h4>


 </body>
</html>


